.st0 {
    fill: #EE2B28;
}

.st1 {
    fill: #FBB045;
}

.st2 {
    fill: none;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    font-family: Cooper Black;
}

.st5 {
    font-size: 68.3314px;
}

.st6 {
    letter-spacing: -6;
}